<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Wacom store</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="content">
                <div class="division">
                    <img src="../static/img/logo.png" alt="">
                </div>
                <div class="division">
                    <ul>
                        <li>compañia</li>
                        <li>productos</li>
                        <li>contactos</li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="busqueda">
            <div class="inputs">
                <img src="../static/img/search.svg" alt="">
                <input id="product-name" type="text" placeholder="Buscar...">
                <select id="sort">
                    <option value="" disabled selected hidden>Precio</option>
                    <option value="25">hasta $25</option>
                    <option value="50">$25 a $75</option>
                    <option value="75">mayor a $75</option>
                </select>
                <button id="search">buscar</button>
            </div>
        </div>

        <div class="productos">
            {{#each productos}}
            <a href="/productos/{{_id}}">
                <div class="producto {{#if free}}free{{/if}}" data-id="{{_id}}">
                    <h3>{{name}}</h3>
                    <img src="../static/img/{{name}}.png" alt="">
                    <p>Precio: $ {{price}}</p>
                    <div class="btns">
                        <button class="add">Añadir al carrito</button>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
        <div class="carrito">

        </div>
        <footer>
            <div class="links">

                <div class="img">
                    <img src="../static/img/logo.png" alt="">
                </div>
                <ul>
                    <a href="">
                        <li>politica de protección de datos</li>
                    </a>
                    <a href="">
                        <li>politica de privacidad</li>
                    </a> <a href="">
                        <li>politica de confidencialidad</li>
                    </a> </ul>
            </div>

            <div class="redes">
                <img src="../static/img/logo-facebook.svg" alt="">
                <img src="../static/img/logo-twitter.svg" alt="">
                <img src="../static/img/logo-instagram.svg" alt="">
            </div>

        </footer>
    </div>
    <script src="../static/js/producto.js"></script>
    <script src="../static/js/info.js"></script>
</body>

</html>