<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>{{name}}</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="content">
                <div class="division">
                    <a href="/">
                        <img src="../static/img/logo.png" alt="">
                    </a>
                </div>
                <div class="division">
                    <ul>
                        <li>compañia</li>
                        <li>productos</li>
                        <li><a href="/checkout">checkout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="description">
            <div class="img">
                <img src="../static/img/{{name}}.png" alt="">
            </div>
            <div class="info btns">
                <h3>{{name}}</h3>
                <h1>$ {{price}}</h1>
                <p>{{data}}</p>
                <button class="add">Añadir al carrito</button>
            </div>
        </div>
 <div class="carrito">

        </div>
        <footer>
            <div class="links">

                <div class="img">
                    <img src="../static/img/logo.png" alt="">
                </div>
                <ul>
                    <a href="">
                        <li>politica de protección de datos</li>
                    </a>
                    <a href="">
                        <li>politica de privacidad</li>
                    </a> <a href="">
                        <li>politica de confidencialidad</li>
                    </a> </ul>
            </div>

            <div class="redes">
                <img src="../static/img/logo-facebook.svg" alt="">
                <img src="../static/img/logo-twitter.svg" alt="">
                <img src="../static/img/logo-instagram.svg" alt="">
            </div>

        </footer>
    </div>
    <script src="../static/js/producto.js"></script>
</body>

</html>